{% extends "base.html" %} {% block title %}Edit Task{% endblock %} {% block
content %}
<h2>Edit Task</h2>
<form method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="{{ task.title }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">
{{ task.description }}</textarea
    >
  </div>

  <!-- check for task done -->
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="done"
      name="done"
      {%if
      task.done%}
      checked
      {%endif%}
    />
    <label class="form-check-label" for="done">Done</label>
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
