<!-- extends parent element (base) properties to child (index) -->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h2>Task List</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>Added on {{ task.date_created }}</td>
      <td>
        <a
          href="{{ url_for('edit_task', task_id=loop.index0) }}"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
        <form
          action="{{ url_for('delete_task', task_id=loop.index0) }}"
          method="POST"
          style="display: inline"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>

        <!-- to pass current iteraion index in loop for a url or function -->
        <form
          action="{{ url_for('toggle_task', task_id=loop.index0) }}"
          method="POST"
          style="display: inline"
        >
          <button type="submit" class="btn btn-info btn-sm">Done</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
