{% extends "base.html" %} {% block title %}Completed Tasks{% endblock %} {%
block content %}

<h2>Task List</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date Added</th>
      <th>Date Completed</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks_done %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>Added on {{ task.date_created }}</td>
      <td>Completed on {{ task.date_completed }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
