{% extends "base.html" %} {% block title %}Toggle Task Status{% endblock %} {%
block content %}
<!-- <h2>Toggle Task Status</h2> -->
<!-- <p>
  Are you sure you want to {{ 'mark as pending' if task.done else 'mark as done'
  }} the task "{{ task.title }}"?
</p> -->
<!-- <form method="POST">
  <button type="dropdown" class="btn btn-primary">
    {{ 'Mark as Pending' if task.done else 'Mark as Done' }}
  </button>
  
</form> -->

<!-- check for task done -->
<div class="form-group form-check">
  <input
    type="checkbox"
    class="form-check-input"
    id="done"
    name="done"
    {%if
    task.done%}
    checked
    {%endif%}
  />
  <label class="form-check-label" for="done">Done</label>
</div>

{% endblock %}
